@import url("https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap");

/* 
font-family: 'Playball', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfairDisplay text-theme-color;
  }
  button {
    @apply !bg-theme-color;
  }
}
