@import url("https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap");

/* 
font-family: 'Playball', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --theme-color: #aa0055;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    color: var(--theme-color);
  }

  .logo {
    font-family: "Playball", cursive;
    font-size: 48px;
    color: var(--theme-color);
  }
}
